# idea properties
.idea/
*.iml

# algs4-data
# too big
algs4-data/algs4-data.zip
algs4-data/largeDG.txt
algs4-data/largeEWD.txt
algs4-data/largeEWG.txt
algs4-data/largeG.txt'
algs4-data/leipzig1M.txt
algs4-data/UPC.csv
algs4-data/largeUF.txt

# class
out/
